# CMake assets
CMakeCache.txt
CMakeLists.txt.user
CTestTestfile.cmake
CMakeFiles/
CMakeTmp/
Makefile

# HantekDSO build files
build/

# Qt3 to Qt4 conversion log
src/portinglog.txt

# NetBeans
nbproject/
